python-docx
pdflatex
PyMuPDF
tools
pdf2docx
pypandoc
pandoc
pdfkit
markdown
pandas
openpyxl
reportlab
pypandoc
frontend
pdf2docx
easyocr
python-docx 
ebooklib 
openpyxl
aiohappyeyeballs
aiohttp
aiosignal
alabaster
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-lru
asyncssh
atomicwrites==1.4.0
attrs
autopep8
babel
backcall
backoff
beautifulsoup4
binaryornot
black
bleach
blinker
boto3==1.37.13
botocore==1.37.13
Brotli
CacheControl==0.14.2
cached-property
cachetools
certifi
certifi
cffi
chardet
charset-normalizer
click
click-option-group
cloudpickle
colorama
comm
cookiecutter
cryptography
dataclasses-json==0.6.7
debugpy
decorator
defusedxml
Deprecated
deprecation
diff-match-patch
dill
distro==1.9.0
docstring-to-markdown
docutils
dotty_dict
exceptiongroup
executing
fastjsonschema
filelock==3.17.0
firebase-admin==6.7.0
flake8
fonttools==4.56.0
fpdf==1.7.2
fpdf2==2.8.2
fqdn
frozenlist
fsspec==2025.3.0
gitdb
GitPython
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
gotrue==1.0.4
gql
graphql-core
greenlet==3.1.1
grpcio==1.71.0
grpcio-status==1.71.0
h11
h2
hpack
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
httpx-sse==0.4.0
huggingface-hub==0.29.3
hyperframe
idna
imagesize
importlib_metadata
importlib_resources
inflection==0.5.1
intervaltree
ipykernel
ipython
ipython_genutils
ipython_pygments_lexers
ipywidgets
isoduration
isort
jaraco.classes
jedi
jellyfish
Jinja2
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
json5
jsonpatch==1.33
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keyring
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.44
langchain-huggingface==0.1.2
langchain-openai==0.3.8
langchain-text-splitters==0.3.6
langsmith==0.3.13
markdown-it-py
MarkupSafe
marshmallow==3.26.1
matplotlib-inline
mccabe
mdurl
mistune
more-itertools
mpmath==1.3.0
msgpack==1.1.0
multidict
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
netx
notebook
notebook_shim
numpy
numpydoc
openai==1.66.2
orjson==3.10.15
overrides
packaging
pandas==2.2.3
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
pluggy
ply==3.11
postgrest
prometheus_client
prompt_toolkit
propcache
proto-plus==1.26.1
protobuf==5.29.3
psutil
ptyprocess
pure_eval
pyarrow
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle
pycparser
pydantic
pydantic-settings==2.8.1
pydantic_core
pydeck
pydocstyle
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyparsing==3.2.1
pypdf==5.3.1
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5_sip
PyQtWebEngine==5.15.6
PySocks
python-dateutil
python-dotenv==1.0.1
python-gitlab
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-semantic-release
python-slugify
pytoolconfig
pytz
pyuca
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
realtime==1.0.0
referencing
regex==2024.11.6
requests
requests-toolbelt
rfc3339_validator
rfc3986-validator
rich
rope
rpds-py
rsa==4.9
Rtree
s3transfer==0.11.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
Send2Trash
sentence-transformers==3.4.1
shellingham
sip
six
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==2.0.39
stack_data
storage3
streamlit
StrEnum
supabase
supafunc==0.2.3
superqt
sympy==1.13.3
tabulate
tenacity
terminado
text-unidecode
textdistance
threadpoolctl==3.5.0
three-merge
tiktoken==0.9.0
tinycss2
tokenizers==0.21.0
toml
tomli
tomlkit
torch
traitlets
transformers==4.49.0
types-python-dateutil
typing-inspect==0.9.0
typing_extensions
ujson
Unidecode
uri-template
uritemplate==4.1.1
urllib3
validators
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets==10.4
whatthepatch
widgetsnbextension
win_inet_pton
wrapt
yapf
yarl
zipp
zstandard==0.23.0